@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-blur {
  z-index: 30;
}

.gpt-modal-blur {
  z-index: 40;
}

.youtube-modal-blur {
  z-index: 40;
}

.loader-gpt {
  z-index: 100;
}

.modal-main {
  width: 50%;
  height: 99%;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  /* @apply bg-gray-700; */
  backdrop-filter: blur(0.625rem);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  /* border-radius: 10px; */
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
  animation-name: note-modalopen;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.notemodal-text-area {
  min-height: 100%;
  height: 100%;
}

.gpt-generate-modal {
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  /* @apply bg-gray-700; */
  backdrop-filter: blur(0.625rem);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fix-modal {
  z-index: 50;
  position: fixed;
  animation-name: modalopen;
  /* animation-duration: 1s; */
}

.gpt-fix-modal {
  z-index: 60;
  position: fixed;
  animation-name: modalopen;
  animation-duration: 1.2s;
}

.save-warning-fix-modal {
  z-index: 80;
  position: fixed;
  animation-name: modalopen;
  animation-duration: 1s;
}

.yt-fix-modal {
  z-index: 70;
  position: fixed;
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes note-modalopen {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.profilePopUp {
  width: 12rem;
  display: flex;
  justify-content: start;
  font-size: 0.9rem;
  position: absolute;
  flex-direction: column;
  row-gap: 0.3rem;
  backdrop-filter: blur(0.225rem);
  padding: 0.5rem;
  border-radius: 10px;
  left: -10rem;
  top: 2.3rem;
  border-top-right-radius: 0;
}

.PopUps {
  width: 9.5rem;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  font-size: 0.92rem;
  position: absolute;
  flex-direction: column;
  row-gap: 0.4rem;
  backdrop-filter: blur(0.225rem);
  padding: 0.6rem;
  border-radius: 10px;
  left: -8rem;
  top: 2rem;
  border-top-right-radius: 0;
}

.PopUps2 {
  width: 8.7rem;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  flex-direction: column;
  row-gap: 0.3rem;
  backdrop-filter: blur(0.225rem);
  padding: 0.6rem;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  z-index: 40;
}

.light .manage-radio-btn[type="radio"]:checked+label {
  border: 1.8px solid rgb(31 41 55);
  transform: scale(1.14);
}

.dark .manage-radio-btn[type="radio"]:checked+label {
  border: 1.8px solid rgb(243 244 246);
  transform: scale(1.14);
}

.rephrase-default-btn {
  animation: blink 1s 2 ease-in-out;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.nightModeBigScreen {
  display: flex;
}

.nightModeSmallScreen {
  display: none;
}

.home-link-info {
  transition: all 0.5s ease-in-out;
}

.home-link:hover+.home-link-info {
  display: flex;
}

.ai-rephrase-btn {
  right: 0;
  bottom: 1%;
}

.ai-rephrase-options {
  left: -45%;
  top: -670%;
}

.youtubeModalIcon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: float 2s ease-in-out infinite, scaleEffect 1.5s ease-in-out;
  animation-delay: 0.7s;
}

.youtubeModalIcon:hover {
  scale: 1.05;
}

.youtubeModalIconGPT {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: float 2s ease-in-out infinite, scaleEffect 1.5s ease-in-out;
}

.youtubeModalIconGPT:hover {
  scale: 1.05;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(-1.5px);
  }

  50% {
    transform: translateY(1.5px);
  }
}

@keyframes scaleEffect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.15);
    /* You can adjust the scale factor */
  }

  100% {
    transform: scale(1);
  }
}

.youtubePlayer {
  position: absolute;
  height: 17rem;
  width: 90%;
  top: 25.5%;
}

.youtubeVideo {
  height: 100%;
  width: 100%;
}

.heading1 {
  font-size: 1.5em;
  margin: 0;
  /* Larger font size for h1 */
}

.heading2 {
  font-size: 1.25em;
  margin: 0;
  /* Smaller font size for h2 */
}

.heading3 {
  font-size: 1.1em;
  margin: 0;
  /* Even smaller font size for h3 */
}

.heading4 {
  font-size: 1.05em;
  margin: 0;
  /* Even smaller font size for h3 */
}

/* Media Queries */

@media (max-width: 868px) {
  .modal-main {
    width: 90%;
    height: 95%;
    overflow: hidden;
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .modal-main {
    width: 100%;
    height: 99.5%;
    overflow: hidden;
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }

  .modal-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }

  .nightModeBigScreen {
    display: none;
  }

  .nightModeSmallScreen {
    display: flex;
  }

  /* .ai-rephrase-btn {
    right: 0;
    bottom: 1%;
  } */

  .ai-rephrase-options {
    left: -62%;
    top: -755%;
  }

  .youtubeModalIcon {
    right: 4.2%;
  }

  .youtubePlayer {
    height: 17rem;
    width: 95%;
    top: 25.5%;
  }


  .profilePopUp {
    width: 12rem;
    display: flex;
    justify-content: start;
    font-size: 0.9rem;
    position: absolute;
    flex-direction: column;
    row-gap: 0.3rem;
    backdrop-filter: blur(0.225rem);
    padding: 0.7rem 0.5rem;
    border-radius: 10px;
    left: -10rem;
    top: 2.3rem;
    border-top-right-radius: 0;
  }

  .profile-popup-text {
    font-size: 1.1rem;
  }

  .gpt-generate-modal {
    width: 98%;
    height: auto;
    flex-wrap: wrap;
    padding: 1.2rem 1rem;
    /* @apply bg-gray-700; */
    backdrop-filter: blur(0.625rem);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
  }

  .PopUps2 {
    width: 9.7rem;
    max-width: 50rem;
    display: flex;
    font-size: 1rem;
    row-gap: 0.3rem;
    padding: 0.6rem;
  }

  .PopUps {
    width: 10.8rem;
    max-width: 50rem;
    font-size: 1.05rem;
    row-gap: 0.3rem;
    padding: 0.6rem;
    left: -9.2rem;
    top: 2rem;
    row-gap: 0.4rem;
  }

}

@media (max-width: 391px) {
  .hideForSmallMobile {
    display: none;
  }
}

@media (max-width: 376px) {}

@media (max-width: 360px) {}