@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-blur {
  z-index: 30;
}

.gpt-modal-blur {
  z-index: 40;
}

.loader-gpt{
  z-index: 100;
}

.modal-main{
  width: 36%;
  height: auto;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  /* @apply bg-gray-700; */
  backdrop-filter: blur(0.625rem); 
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
  /* background-image: 
    radial-gradient(circle at 20% 35%, rgba(255,255,255,0.2), rgba(0,0,0,0.2)),
    radial-gradient(circle at 75% 44%, rgba(255,255,255,0.2), rgba(0,0,0,0.2)),
    linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,0.1)); */
}

.gpt-generate-modal{
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  /* @apply bg-gray-700; */
  backdrop-filter: blur(0.625rem); 
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fix-modal {
  z-index: 50;
  position: fixed;
  animation-name: modalopen;
  animation-duration: 1s;
}

.gpt-fix-modal {
  z-index: 60;
  position: fixed;
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.profilePopUp {
  width: 10rem;
  display: flex;
  justify-content: start;
  font-size: 0.9rem;
  position: absolute;
  flex-direction: column;
  row-gap: 0.3rem;
  backdrop-filter: blur(0.225rem);
  padding: 0.5rem;
  border-radius: 10px;
  left: -8rem;
  top: 2.3rem;
  border-top-right-radius: 0;
}

.PopUps {
  width: 8.7rem;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  position: absolute;
  flex-direction: column;
  row-gap: 0.3rem;
  backdrop-filter: blur(0.225rem);
  padding: 0.6rem;
  border-radius: 10px;
  left: -7rem;
  top: 2rem;
  border-top-right-radius: 0;
}

.PopUps2 {
  width: 8.7rem;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  position: absolute;
  flex-direction: column;
  row-gap: 0.3rem;
  backdrop-filter: blur(0.225rem);
  padding: 0.6rem;
  border-radius: 10px;
  left: -7rem;
  top: 2rem;
  border-bottom-right-radius: 0;
  z-index: 40;
}

.manage-radio-btn[type="radio"]:checked + label {
  border: 1.6px solid rgb(0, 0, 0);
  transform: scale(1.14);
}

.nightModeBigScreen{
  display: flex;
}

.nightModeSmallScreen{
  display: none;
}

.home-link-info {
  transition: all 0.5s ease-in-out;
}

.home-link:hover + .home-link-info {
  display: flex;
}

.ai-rephrase-btn {
  left: 77.2%;
  bottom: 21.5%;
}

.ai-rephrase-options {
  left: 63.5%;
  top: 31.8%;
}

@media (max-width: 560px) {
  .modal-main {
    width: 95%;
    height: auto;
    overflow: auto;
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }
  .nightModeBigScreen{
    display:none;
  }

  .nightModeSmallScreen{
    display: grid;
  }

  .ai-rephrase-btn {
    left: 72.5%
  }

  .ai-rephrase-options {
    left: 57%;
    top: 31.8%;
  }
}

@media (max-width: 380px) {
  .ai-rephrase-btn {
    left: 70%
  }

  .ai-rephrase-options {
    left: 52.5%;
    top: 31.8%;
  }
}