@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
html {
  height: 100%;
}

body {
  @apply antialiased;
}

nav {
  /* background-color: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(0.225rem);
}

.note-box {
  width: 100%;
  height: 248px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1); */
  transition: transform 0.2s ease-in-out !important;
}

.note-content-max-height {
  max-height: 69%;
}

.note-content-line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.note-box:hover {
  transform: scale(1.02) !important;
  /* Slightly zoom in */
}

.note-box-two {
  width: 100%;
  height: 248px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1); */
  transition: transform 0.2s ease-in-out !important;
}

.note-content-two-max-height {
  max-height: 60%;
}


.note-box-two:hover {
  transform: scale(1.02) !important;
  /* Slightly zoom in */
}

.shrink {
  animation: shrinkAnimation 0.5s ease-in-out forwards;
}

@keyframes shrinkAnimation {
  0% {
    opacity: 1;
    width: 100%;
    height: 200px;
  }

  100% {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.note-radio-btn[type="radio"]:checked+label {
  border: 1.5px solid rgb(71, 71, 71);
  transform: scale(1.1);
}

.color-input-label {
  width: 2.2rem;
  height: 2.2rem;
}

.skeleton {
  opacity: 0.7;
  background: linear-gradient(to right,
      rgba(54, 54, 54, 0.9),
      rgba(106, 106, 106, 1),
      rgba(54, 54, 54, 0.9));
  background-size: 200% 100%;
  background-position: -100% 0;
  animation: skeleton-loading 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.skeleton2 {
  opacity: 0.9;
  background: linear-gradient(to right,
      rgba(54, 54, 54, 0.9),
      rgba(106, 106, 106, 1),
      rgba(54, 54, 54, 0.9));
  background-size: 200% 100%;
  background-position: -100% 0;
  animation: skeleton-loading 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.skeleton3 {
  opacity: 1;
  background: linear-gradient(to right,
      rgba(54, 54, 54, 0.9),
      rgba(106, 106, 106, 1),
      rgba(54, 54, 54, 0.9));
  background-size: 200% 100%;
  background-position: -100% 0;
  animation: skeleton-loading 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }

  50% {
    background-position: 50% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

textarea {
  resize: none;
  -webkit-resize: none;
}

.bottom-info-notePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}


@media (max-width: 640px) {
  .note-box {
    width: 100%;
    height: 248px;
    transition: transform 0.2s ease-in-out !important;
  }

  .note-box-two {
    width: 100%;
    height: 248px;
    transition: transform 0.2s ease-in-out !important;
  }

  .note-content-line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }

  .color-input-label {
    width: 2.2rem;
    height: 2.2rem;
  }

  .bottom-info-notePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

}