@tailwind base;
@tailwind components;
@tailwind utilities;

.youtubePlayer-NotePage {
    height: 27.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.youtubeVideo-NotePage {
    height: 100%;
    width: 100%;
}

.note-page-main-content {
    display: flex;
    flex-direction: column;
}

.note-page-main-nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
}

.note-page-main-items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.3rem;
    padding: 0.3rem 0;
    cursor: pointer;
}


/* Youtube Video List Modal */
.youtube-popup-list-blur {
    z-index: 40;
    padding: 0rem 1rem;
}

.yt-video-list-popup {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    overflow-y: auto;
}

.ytVideos-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
}

.youtubePlayer1 {
    height: 17rem;
    width: 100%;
}

.youtubeVideo1 {
    height: 100%;
    width: 100%;
}

.yt-video-add-modal {
    display: flex;
    flex-direction: column;
    /* height: 95%; */
    height: 96%;
    width: 100%;
    padding: 1.2rem 1rem 4rem 1rem;
    overflow-y: auto;
}

.youtubePlayer-YtAddModal {
    height: 17.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.youtubeVideo-NotePage {
    height: 100%;
    width: 100%;
}


@media (max-width: 640px) {
    .youtubePlayer-NotePage {
        height: 15rem;
        width: 100%;
    }

    .youtube-popup-list-blur {
        padding: 1rem 0.2rem;
    }

    .youtubePlayer-YtAddModal {
        height: 15rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .yt-video-add-modal {
        height: 96%;
    }
}